@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.button {
  background-image: linear-gradient(to right, hsl(176deg, 68%, 64%), hsl(198deg, 60%, 50%));
  padding: 1.25em 3em;
  border-radius: 100px;
  width: 275px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  border: none;
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  background-image: none;
  background-color: hsl(176deg, 68%, 64%);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif !important;
  color: hsl(0deg, 0%, 100%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

header {
  background-color: hsl(217deg, 28%, 15%);
  padding: 33px;
}
header .flex {
  justify-content: space-between;
  align-items: center;
}
header .main-nav {
  font-family: "Raleway", sans-serif;
}
header .main-nav ul {
  list-style: none;
  gap: 25px;
}
header .main-nav ul a {
  padding: 10px;
  color: hsl(0deg, 0%, 75%);
  font-weight: 400;
  text-decoration: none;
  transition: 200ms;
}
header .main-nav ul a:hover {
  color: hsl(0deg, 0%, 100%);
  text-decoration: underline;
}

section {
  background-color: hsl(218deg, 28%, 13%);
}

.call-to-action {
  position: relative;
  background-color: hsl(217deg, 28%, 15%);
  text-align: center;
  flex-direction: column;
  isolation: isolate;
}
.call-to-action .container {
  max-width: 50%;
  margin-bottom: 200px;
  flex-direction: column;
  align-items: center;
}
.call-to-action h1 {
  font-size: 2.7rem;
  margin: 40px 0px;
}
.call-to-action p {
  width: 66%;
}
.call-to-action .button {
  margin-top: 25px;
}
.call-to-action img {
  width: 100%;
}
.call-to-action .curvy-background {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.about {
  text-align: center;
}
.about .container {
  max-width: 50%;
  padding-bottom: 100px;
}
.about .grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.about .grid > div {
  padding: 20px;
}
.about h2 {
  font-size: 1.25rem;
  margin: 15px 0px;
}

.stay-productive .container {
  padding-bottom: 100px;
}
.stay-productive .grid {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.stay-productive .flex {
  flex-direction: column;
  gap: 20px;
}
.stay-productive h3 {
  font-size: 2.5rem;
}
.stay-productive a {
  color: hsl(176deg, 68%, 64%);
  border-bottom: 1px solid hsl(176deg, 68%, 64%);
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: 200ms;
}
.stay-productive a:hover {
  color: hsl(0deg, 0%, 100%);
  border-bottom: 1px solid hsl(0deg, 0%, 100%);
}
.stay-productive a:hover circle {
  fill: hsl(0deg, 0%, 100%);
}

.testimonials {
  isolation: isolate;
}
.testimonials .container {
  position: relative;
  padding-bottom: 100px;
}
.testimonials > .grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.testimonials .quote-image {
  position: absolute;
  top: -35px;
  left: -10px;
  z-index: -1;
}
.testimonials .quote-container {
  background-color: hsl(219deg, 30%, 18%);
  box-shadow: 0px 0px 15px rgba(25, 25, 25, 0.5);
  border-radius: 10px;
  overflow: hidden;
  padding: 2em;
}
.testimonials .quote-container p {
  padding-top: 1em;
  padding-bottom: 2em;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
}
.testimonials .quote-container .author-info {
  grid-template-columns: 30px 1fr;
  grid-template-areas: "image name" "image status";
  align-items: center;
  font-weight: 700;
}
.testimonials .quote-container .author-info .author-image {
  grid-area: image;
  border-radius: 50%;
  width: 30px;
  aspect-ratio: 1/1;
}
.testimonials .quote-container .author-info .author-name {
  grid-area: name;
  font-size: 1rem;
}
.testimonials .quote-container .author-info .author-status {
  grid-area: status;
  color: hsl(0deg, 0%, 75%);
  font-size: 0.6rem;
  font-weight: 400;
}

.get-early-access {
  position: relative;
  text-align: center;
  isolation: isolate;
}
.get-early-access .grid {
  grid-template-rows: repeat(2, auto);
  place-items: center;
}
.get-early-access .early-access-container {
  background-color: hsl(217deg, 28%, 15%);
  width: 66%;
  border-radius: 0.75em;
  padding: 3em 6em;
  box-shadow: 0px 0px 15px rgba(25, 25, 25, 0.5);
}
.get-early-access .early-access-container::before, .get-early-access .early-access-container::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}
.get-early-access .early-access-container::before {
  background-color: hsl(218deg, 28%, 13%);
  top: 0px;
}
.get-early-access .early-access-container::after {
  background-color: hsl(216deg, 53%, 9%);
  bottom: 0px;
}
.get-early-access .early-access-container h4 {
  font-size: 2rem;
}
.get-early-access .early-access-container p {
  margin: 25px 0px;
}
.get-early-access .early-access-container form input {
  background-color: hsl(0deg, 0%, 100%);
  padding: 1.25em 3em;
  font-size: 1rem;
  width: 100%;
  margin-right: 25px;
  border-radius: 50px;
  border: none;
}
.get-early-access .early-access-container form input:focus {
  outline: none;
}

.footer {
  background-color: hsl(216deg, 53%, 9%);
  padding: 4em;
}
.footer > .flex {
  flex-direction: column;
  align-items: flex-start;
}
.footer .grid {
  grid-template-columns: repeat(4, auto);
  justify-items: center;
  gap: 25px;
}
.footer .logo {
  padding-bottom: 50px;
}
.footer .contacts > div {
  padding: 0.75em 0px;
}
.footer .contacts img {
  margin-right: 20px;
}
.footer .footer-links ul {
  list-style: none;
  grid-template-columns: repeat(2, 1fr);
  justify-items: left;
  gap: 0px;
}
.footer .footer-links ul li {
  padding: 7px 0px;
}
.footer .footer-links ul li a {
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
  text-decoration: none;
  margin: 20px;
}
.footer .footer-links ul li a:hover {
  font-weight: 700;
}
.footer .social-links {
  gap: 15px;
}
.footer .social-links .flex {
  justify-content: center;
  align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.footer .social-links a {
  border: 1px solid hsl(0deg, 0%, 100%);
  padding: 8px;
  border-radius: 50%;
}
.footer .social-links a:hover {
  border-color: hsl(176deg, 68%, 64%);
}
.footer .social-links a:hover path {
  fill: hsl(176deg, 68%, 64%);
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 50px;
}
.attribution a {
  color: hsl(200deg, 100%, 50%);
  text-decoration: none;
  font-weight: bold;
  transition: color 200ms;
}
.attribution a:hover {
  color: hsl(200deg, 100%, 40%);
}

@media (max-width: 1350px) {
  .get-early-access form {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .get-early-access form input {
    margin: 0 !important;
  }
  .get-early-access form .button {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 95% !important;
  }

  .stay-productive .grid {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }

  .footer .grid {
    grid-template-columns: 1fr;
  }
  .footer .grid > * {
    width: 100%;
  }
  .footer .location {
    grid-template-columns: repeat(2, auto);
  }
  .footer .footer-links ul {
    grid-template-columns: 1fr;
  }
  .footer .social-links {
    justify-content: center;
  }
}
@media (max-width: 985px) {
  .testimonials .grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 800px) {
  body {
    font-size: 0.85rem;
  }

  .call-to-action h1 {
    font-size: 2rem;
  }

  .stay-productive img {
    width: 100%;
  }

  .get-early-access .early-access-container {
    width: 100%;
  }
}
@media (max-width: 600px) {
  header .logo {
    height: 25px;
  }
  header .main-nav ul {
    gap: 0px;
  }
  header .main-nav ul a {
    padding: 8px;
  }

  .about .grid {
    grid-template-columns: 1fr;
  }

  .stay-productive h3 {
    font-size: 1.5rem;
    text-align: center;
  }
}
