@use "variables" as *;

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.button {
    background-image: linear-gradient(to right, $accent-cyan, $accent-blue);
    padding: 1.25em 3em;
    border-radius: 100px;
    width: 275px;
    min-width: max-content;
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    border: none;
    color: $white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-image: none;
        background-color: $accent-cyan;
    }
}